<!DOCTYPE html>
<html>
  <head>
    <title>My Products</title>
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./font-awesome-4.7.0 (1)/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./font-awesome-4.7.0 (1)/font-awesome-4.7.0/css/font-awesome.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
  margin: 0px;
  padding: 0px;
  border: none;
  text-decoration: none;
}
.row , .col{
  padding: 0 !important;
  margin: 0 !important;
}

.first-nav {
  height: 75px;
}
.inherit {
  height: inherit;
}
.skin-store {
  margin-left: 15%;
  margin-top: 12px !important;
  font-family: "Times New Roman", Times, serif;
}

.mic-icon {
  top: 22px !important;
  left: 0px !important;
  color: #212121 !important; 
}

.has-search .form-control {
  padding-right: 2.6rem;
  border-bottom: none !important;
  /* background-color: rgba(221, 217, 217, 0.781) !important; */
  background-color: #eeeeee !important;
  margin-top: 15px !important;
  border-radius: 7px !important;
  padding-left: 35px !important;
}
.form-control:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}
.has-search .form-control-feedback {
  position: absolute;
  right: 0;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  margin-top: 23px;
  color: #000000;
}
.detail {
  margin-top: 12px !important;
  display: flex;
  justify-content: flex-end;
}
.detail:after {
  content: '';
  display: block;
  clear: both;
}
.number {
  padding-top: 12px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 2px solid black;
}
.call-icon {
  margin-right: 5px;
  font-size: 20px;
  display:inline-flex;
  vertical-align: middle;
}
.user-icon {
  font-size: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.loginDiv {
  height: 370px;
  width: 280px;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  right: 0px;
  background-color: white;
  z-index: 1000;
  display: none;
  font-family: "Merriweather Sans", sans-serif;
}
.login {
  background-color: #eeeeee;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.login-detail {
  width: 84%;
  margin: auto;
  margin-top: 25px;
}
.login-input {
  border: 1px solid rgb(160, 153, 153) !important;
  height: 30px !important;
  padding-left: 5px !important;
  font-size: 15px !important;
  margin-top: 10px !important;
  width: inherit !important;
  width: 97% !important;
}
.login-label {
  font-size: 18px !important;
  color: black !important;
}
.input-field input:focus + label {
  color: black !important;
}
.input-field input:focus {
  border-bottom: 1px solid rgb(160, 153, 153) !important;
  box-shadow: 0 1px 0 0 rgb(160, 153, 153) !important;
}
.login-btn {
  width: 100%;
  height: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: white;
  border: 1px solid #212121 ;
  font-weight: 600;
}
.login-btn:hover {
  background-color: #212121 ;
  color: white;
}
.login-icon-div {
  text-align: center;
}
.login-icon {
  font-size: 3em !important;
  cursor: pointer;
  margin: 5px;
}
.login-Ficon {
  color: #1a237e;
}
.login-Gicon {
  color: #d50000;
}
.login-Ficon:hover,
.login-Gicon:hover {
  opacity: 0.9;
}
.forgot-password {
  color: #000000;
  text-decoration: underline;
}
.forgot-password:hover {
  text-decoration: none;
}
.register-btn {
  width: 100%;
  height: 30px;
  text-transform: uppercase;
  color: white;
  background-color: #212121 ;
  font-weight: 600;
  margin-top: 15px;
}
.register-btn:hover {
  background-color: white;
  color: #212121 ;
  border: 1px solid #212121 ;
}

.second-nav {
  height: 40px;
  line-height: 40px;
}

.third-nav {
  height: 35px;
}
.third-nav-text {
  text-transform: uppercase;
  margin: auto;
  font-size: 17px;
  font-weight: 500;
}

.banner {
  background-image: url('../images/bannerImage.jpg');
  height: 500px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 7px solid #ad1457;
  border-bottom: 7px solid #ad1457 !important;
}
.banner-text {
  font-size: 100px;
  margin-left: 45%;
  margin-top: 5%;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  animation: blink 0.5s infinite;
}
@keyframes blink {
  0%,50% {
    color: #880e4f !important;
  }
  51%,100% {
    color: #ffebee;
  }
}

.cardImages {
  height: 300px !important;
}
.box-container {
  margin-top: 20px !important;
}
.boxes {
  box-shadow: none !important;
  border: 5px solid #ef5350;
}
/* .box1 {
  margin-right: 15px;
}
.box2 {
  margin-left: 15px;
  margin-right: 15px;
}
.box3 {
  margin-left: 15px;
} */
.box1 {
  margin-left: 30px;
  margin-right: 15px;
}
.box3 {
  margin-right: 30px;
  margin-left: 15px;
}
.box2 {
  margin-left: 15px;
  margin-right: 15px;
}
.box-title {
  width: 100%;
  margin-bottom: 10%;
  background-color: black;
  opacity: 0.6;
  text-align: center;
  padding: 0px !important;
}
.box-title1 {
  font-weight: bold;
  font-size: 30px;
  padding: 0px !important;
}
.box-title2 {
  font-size: 18px;
}
.box-title-disc {
  height: 90%;
  width: 90%;
  margin-bottom: 3.5%;
  margin-left: 5%;
  opacity: 0.6;
  font-size: 20px !important;
  text-align: center;
  background-color: black;
  display: none;
}
.boxes:hover .box-title{
  display: none;
}
.boxes:hover .box-title-disc {
  display: block;
}

.newsletter-div {
  height: 110px;
  border-top: 2px solid #bdbdbd;
  margin-top: 30px !important;
}
.newsletter-text {
  padding-left: 55px !important;
  margin-top: 30px !important;
}
.newsletter-p1 {
  font-size: 18px;
  font-weight: bold;
}
.newsletter-p2 {
  font-size: 16px;
  font-weight: 500;
}
.newsletter-send {
  padding-top: 40px !important;
  border-right: 2px solid #bdbdbd;
  height: 100%;
}
.newsletter-search {
  border-bottom: none !important;
  background-color: white !important;
  padding-left: 10px !important;
  width: 60% !important;
  height: 35px !important;
}
.newsletter-search:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}
.newsletter-btn {
  height: 33px;
  width: 25%;
  color: white;
  background-color: #212121;
  margin-top: 0px !important;
}
.contact-div {
  margin-top: 23px !important;
  padding-right: 40px !important;
  display: flex;
  justify-content: flex-end;
}
.contact-text {
  font-size: 17px;
  margin-right: 20px;
  font-weight: 600;
  padding-top: 13px;
}
.contact-icon {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-left: 10px;
}

.footer-col {
  text-align: center;
}
.footer-col-heading {
  font-size: 28px;
  font: 2.3vw "Oswald", sans-serif;
  margin-bottom: 7px;
}
.footer-col-text {
  font-size: 17px;
  text-transform: uppercase;
}
.payment {
  height: 40px; 
  width: 60px;
  margin: 5px;
  cursor: pointer;
}
.connect-div {
  margin-top: 10px !important;
}
.connect {
  font-size: 40px !important;
  font: 2.3vw "Oswald", sans-serif;
}
.connect-text-mid {
  font-size: 25px !important;
}
.connect-text {
  display: flex;
  flex-direction: row;
}
.connect-text:before,
.connect-text:after {
  content: "" !important;  
  flex: 1 1 !important; 
  border-bottom: 1px solid white !important; 
  margin: auto !important;
}
.connect-icon {
  font-size: 2.5em !important;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.footer-second-last {
  width: 100%;
  border: 1px solid white;
  margin-top: 5px !important;
}
.footer-last {
  border: 10px solid #212121 ;
}
.suman-per-tab-controls {
  position: relative;
  z-index:-999999;
}
/* * {
  margin: 0px;
  padding: 0px;
  border: none;
  text-decoration: none;
}
.row , .col{
  padding: 0 !important;
  margin: 0 !important;
} */
.li-item {
  margin: 3px;
  color: black;
}
.li-item:hover {
  font-weight: 500;
  color: #616161;
}
.collapsible li.active i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.expand-icon {
  margin-left: 60% !important ;
}
.expand-icon1 {
  margin-left: 70% !important ;
}
.expand-icon2 {
  margin-left: 75% !important ;
}

.page-banner {
  background-image: url('../images/bannerImg.jpg');
  height: 300px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-top: 5%; */
}
.skincare {
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  /* margin-left: 45%; */
  width: 26%;
  text-align: center;
  color: white;
  background-color: black;
  opacity: 0.6;
}

.product-card {
  box-shadow: none;
  margin: 10px;
}
.product-image {
  height: 320px;
}
.card-img:hover {
  background-color: black !important;
}
.product-detail {
  text-align: center;
  padding-top: 5px !important;
  font-weight: 600;
  padding-left: 0px !important;
  padding-right: 0px !important;

}

.test {
  width: 100%;
  padding-bottom: 10px !important;
  display: none;
}
.card-img:hover .product-image {
  filter: brightness(40%);
  /* animation: color_change 50s 1; */
}
/* @keyframes color_change {
  0%,100% {
    filter: brightness(40%);
  }
} */
.card-img:hover .test {
  display: block;
}
.order-btn {
  font-size: 16px;
  width: 100%;
  height: 32px;
  background-color: white;
  font-weight: 600;
}
.order-btn:hover {
  background-color: black;
  color: white;
}
    </style>
<script>
 
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
      });
      // Or with jQuery
      $(document).ready(function(){
        $('.collapsible').collapsible();
      });
    
  function myFunction() {
    var x = document.getElementById("login-div");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
</head>

<body>
  <div>
    <%- include('./includes/nav.ejs') %>
    <div class="row">
      <div class="col s3" >
        <ul class="collapsible" style="box-shadow: none;">
          <li>
            <div class="collapsible-header">
              <b>Categories</b> 
              <i class="material-icons expand-icon">expand_more</i>
            </div>
            <div class="collapsible-body" >
              <ul >
                <li class="li-item"><a href="/shop/category-filter?category=face care">Face Care</a></li>
                <li class="li-item"><a href="/shop/category-filter?category=Hair Care">Hair Care</a></li>
                <li class="li-item"><a href="/shop/category-filter?category=Hand Care">Hand Care</a></li>
                <li class="li-item"><a href="/shop/category-filter?category=Men Care">Men Care</a></li>
                <li class="li-item"><a href="/shop/category-filter?category=Foot Care">Foot Care</a></li>
                <li class="li-item"><a href="/shop/category-filter?category=Cosmeceuticals Care">Cosmeceuticals Care</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              <b>Brands</b> 
              <i class="material-icons expand-icon1">expand_more</i> 
            </div>
            <div class="collapsible-body">
              <ul>
                <li class="li-item"><a href="/shop/brand-filtter?brand=vaseline pakistan">Vaseline Pakistan</a></li>
                <li class="li-item"><a href="/shop/brand-filtter?brand=skin white">Skin White</a></li>
                <li class="li-item"><a href="/shop/brand-filtter?brand=skin white">Brand3</a></li>
                <li class="li-item"><a href="/shop/brand-filtter?brand=skin white">Brand4</a></li>
                <li class="li-item"><a href="/shop/brand-filtter?brand=skin white">Brand5</a></li>
                <li class="li-item"><a href="/shop/brand-filtter?brand=skin white">Brand6</a></li>
                <li class="li-item"><a href="/shop/brand-filtter?brand=Dove">Brand7</a></li>
                <li class="li-item"><a href="/shop/brand-filtter?brand=Gillete">Brand8</a></li>


              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              <b>Price</b> 
              <i class="material-icons expand-icon2">expand_more</i>
            </div>
            <div class="collapsible-body">
              <ul>
                <li class="li-item"><a href="/shop/price-filter?lower=300&upper=600">300-600</a></li>
                <li class="li-item"><a href="/shop/price-filter?lower=700&upper=1000">700-1000</a></li>
                <li class="li-item"><a href="/shop/price-filter?lower=1100&upper=1500">1100-1500</a></li>
                <li class="li-item"><a href="/shop/price-filter?lower=1600&upper=2000">1600-2000</a></li>
                <li class="li-item"><a href="/shop/price-filter?lower=2100&upper=3000">2100-3000</a></li>
                <li class="li-item"><a href="/shop/price-filter?lower=3100&upper=5000">3100-5000</a></li>
                <li class="li-item"><a href="/shop/price-filter?lower=5100&upper=7000">5100-7000</a></li>
              </ul>
            </div>
          </li>
        </ul>

      </div>
      <div class="col s9" >
        <% if(!usermode){ %>
        <button style=
                      "width: 140px; 
                      height: 40px; 
                      margin-left: 40%; 
                      margin-top: 10px; 
                      background-color: rgb(19, 18, 18);
                      color: white;">
                      
          <a href="/admin/getForm" >Add Product</a>
        </button>
        <button style=
        "width: 140px; 
        height: 40px; 
        margin-left: 40%; 
        margin-top: 10px; 
        background-color: rgb(19, 18, 18);
        color: white;">
        
<a href="#" id="order" >Check Orders</a>
</button>
        <% } %>
        <div class="page-banner">
          <!-- <p class="skincare">SKINCARE</p> -->
        </div>
        <div class="row">
          <% items.forEach((i)=>{%>
           
           <!--loop ayega-->
              <div class="col l3">
                <div class="card product-card">
                  <div class="card-image card-img">
                    <img  class="product-image" src="<%= i.image %>">
                      <% if(!usermode){ %>
                      <div class="row">
                        <div class="col l12">
                          <span class="card-title test">
                        <a href="/admin/imageupload/<%= i._id %>"><input type="button" name="hello" value="IMAGE UPLOAD" class="order-btn"></a>
                        <a href="/admin/editproduct/<%= i._id %>"><input type="button" name="hello" value="EDIT" class="order-btn"></a>
                          <a href="/admin/deleteproduct/<%= i._id %>"> <input type="button" name="hello" value="DELETE" class="order-btn"></a> 
                          </span>
                        </div>
                      </div>               
                      <% } else{ %>
                      
                          <span class="card-title test w3-animate-opacity" id="<%= i._id%>" >
                            <!-- <button id="addtocart">  ADD CART</button> -->
                            <input type="button" name="hello" value="ADD TO CART" id="addcart" class="order-btn" onclick="addtoCart(event)">
                            <a href="/shop/productdetails/<%= i._id %>"><input type="button" name="hello" value="PRODUCT DETAILS" class="order-btn"></a>
                          </span> 
                      <!-- <span class="card-title test w3-animate-opacity">
                        <input type="button" name="hello" value="ADD TO CART" class="order-btn">
                      </span> -->
                      <% } %>
                  </div>
              
                  <div class="card-content product-detail">
                    <p class="product-title"><%= i.name %></p>
                    <p> <%= i.price %> </p>
                  </div>
                </a>
                </div>
                
              </div>
              <% }) %>
          
         </div>   <!--row div ends here-->



      </div>
    </div>






    <!--footer-->

    <div class="row newsletter-div grey lighten-2">
      <div class="col s4 newsletter-text">
        <p class="newsletter-p1">BE THE FIRST TO KNOW</p>
        <p class="newsletter-p2">Find out about our special offer and exclusive news.</p>
      </div>
      <div class="col s5 newsletter-send" >
        <input class="newsletter-search" type="text" name="newsletter" placeholder="Your email address" />
        <button class="newsletter-btn" type="button">SUBSCRIBE</button>
      </div>
      <div class="col s3 contact-div">
        <p class="contact-text">GET IN TOUCH</p>
        <img src="../images/phone-icon.png" alt="phone icon" class="contact-icon">
        <img src="../images/email-icon.png" alt="email icon" class="contact-icon">
      </div>
    </div>
  
    <footer class="page-footer grey darken-4">
        <div class="row" style="margin-bottom: 10px;">
          <div class="col l4 footer-col">
            <p class="white-text footer-col-heading">Customer Care</p>
            <ul>
              <li><a class="grey-text text-lighten-3 footer-col-text footer-col-text" href="#!">Exchange Policy</a></li>
              <li><a class="grey-text text-lighten-3 footer-col-text" href="#!">FAQs</a></li>
              <li><a class="grey-text text-lighten-3 footer-col-text" href="#!">Contact Us</a></li>
            </ul>
          </div>
          <div class="col l4 footer-col">
            <p class="white-text footer-col-heading">Information</p>
            <ul>
              <li><a class="grey-text text-lighten-3 footer-col-text" href="#!">Skin Care</a></li>
              <li><a class="grey-text text-lighten-3 footer-col-text" href="#!">Glossary</a></li>
              <li><a class="grey-text text-lighten-3 footer-col-text" href="#!">About Us</a></li>
              <li><a class="grey-text text-lighten-3 footer-col-text" href="#!">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col l4 footer-col">
            <p class="white-text footer-col-heading">We Accept</p>
            <img src="../images/images.svg" alt="" class="payment">
            <img src="../images/mastercard.png" alt="" class="payment">
          </div>
        </div>
  
        <div class="row contact-div">
          <div class="col s5" style="padding-left: 30px !important;">
            <p class="connect-text connect"> &nbsp; CONNECT &nbsp; <span class="connect-text-mid valign-wrapper">with</span> &nbsp; US &nbsp;</p>
          </div>
          <div class="col s2">
            <p class="connect-text" style="height: 60px;"></p>
          </div>
          <div class="col s5 connect-text test">
            <span class="connect-icon" ><i class="fa fa-facebook"></i></span>
            <span class="connect-icon"><i class="fa fa-instagram"></i></span>
            <span class="connect-icon"><i class="fa fa-youtube"></i></span>
          </div>
        </div>
  
        <div class="row footer-second-last"> </div>
        <div class="row footer-last"> </div>
      
    </footer>
  


    <!-- <%- include('./includes/footer.ejs') %> -->
  </div>  
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>

      function addtoCart(event){
        event.preventDefault();
        alert("cart");
        console.log(event.target.parentElement)
        const id = event.target.parentElement.id;
        console.log(id);
        const token = JSON.parse(localStorage.getItem('key'));
        window.location = `/shop/add-to-cart/${id}?token=${token}`;
      }
      //  const cart = document.getElementById('addcart');
      //  console.log(cart);
      //   cart.addEventListener("click", async(event)=>{
      //     event.preventDefault();
      //     alert("clicked")
      //     // const id = e.target.parentElement.id;
      //     // const token = JSON.parse(localStorage.getItem('key'));
      //     // window.location = `/shop/add-to-cart/${id}?token=${token}`;
      //   })
        // for speech api
var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition
var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList
var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent
const recognition = new SpeechRecognition();

const searchform = document.getElementById('search-bar-form');
searchform.addEventListener('submit',(e)=>{
    e.preventDefault();
    const searchValue = searchform['searchbar'].value;
    const url = '/shop/search?search=' + searchValue;
    window.location = url; 
})

// for html references
const mic = document.getElementById('mic-speak');
const searchbar = document.getElementById('searchbar');

mic.addEventListener('click',(e)=>{
    e.preventDefault();
    recognition.start();
    recognition.onresult = (event) => {
    const speechToText = event.results[0][0].transcript;
    console.log(speechToText);
    searchbar.value = speechToText;
    const searchUrl = '/shop/search?search=' + speechToText;
    window.location = searchUrl;
}
})

  const id = document.getElementById('order')
  id.addEventListener('click', async(e) => {
    e.preventDefault();
    const token = JSON.parse(localStorage.getItem('key'));
    console.log(token);
    const response = await fetch(`/admin/checkorders?token=${token}`,{
      method: "GET",
      headers: {
        "Content-Type": "Application/json"
      }
    })
    response.json().then( data => {
      console.log(data);
      window.location = "order.html"
    }).catch(err => {
      console.log(err);
    })

  })
    </script>
    <script src="./js/speech.js"></script>
  </body>
</html>